*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Verdana,sans-serif;
}

body{

background:linear-gradient(135deg,#DCE35B,#45B649);

display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.box{

width:500px;

background:#ffffff;

padding:35px;

border-radius:20px;

box-shadow:0 12px 30px rgba(0,0,0,.3);
}

h1{

text-align:center;

color:#2E7D32;

margin-bottom:25px;
}

label{

display:block;

margin-top:15px;

font-weight:bold;
}

input,
select,
textarea{

width:100%;

padding:12px;

margin-top:5px;

border:2px solid #ddd;

border-radius:10px;

font-size:15px;
}

input:focus,
select:focus,
textarea:focus{

outline:none;

border-color:#4CAF50;
}

input[type=submit]{

margin-top:25px;

background:#43A047;

color:white;

border:none;

cursor:pointer;

font-size:17px;

transition:.3s;
}

input[type=submit]:hover{

background:#2E7D32;

transform:scale(1.04);
}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;
}

th{

background:#43A047;

color:white;

padding:12px;
}

td{

padding:12px;

border:1px solid #ddd;

text-align:center;
}

.success{

margin-top:20px;

background:#E8F5E9;

padding:15px;

border-left:6px solid green;

font-size:18px;

font-weight:bold;

text-align:center;
}