*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#141E30,#243B55,#6A11CB,#2575FC);

padding:20px;
}

.glass{

width:480px;

background:rgba(255,255,255,0.12);

backdrop-filter:blur(15px);

padding:35px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.4);

color:white;
}

h1{

text-align:center;

margin-bottom:25px;
}

label{

display:block;

margin-top:15px;

font-weight:bold;
}

input,select{

width:100%;

padding:12px;

margin-top:6px;

border:none;

border-radius:10px;

font-size:15px;

outline:none;
}

input:focus,
select:focus{

box-shadow:0 0 10px cyan;
}

.radio-group{

margin-top:10px;
}

.radio-group input{

width:auto;

margin-right:5px;
}

input[type=submit]{

margin-top:25px;

background:#00e5ff;

color:#111;

font-weight:bold;

cursor:pointer;

transition:.3s;
}

input[type=submit]:hover{

background:#00bcd4;

transform:scale(1.04);
}

table{

width:100%;

margin-top:20px;

border-collapse:collapse;

background:white;

color:black;

border-radius:10px;

overflow:hidden;
}

th{

background:#6A11CB;

color:white;

padding:12px;
}

td{

padding:12px;

border:1px solid #ddd;

text-align:center;
}

.success{

margin-top:20px;

padding:15px;

background:#00c853;

border-radius:10px;

text-align:center;

font-weight:bold;

color:white;
}