*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}



body{

margin:0;

padding:20px;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2c003e,#512b58,#fe346e);

background-repeat:no-repeat;

background-size:cover;

background-attachment:fixed;

font-family:Arial,sans-serif;

}

.card{

width:420px;

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.4);

text-align:center;

margin:30px auto;

}

h1{

color:#8e24aa;

margin-bottom:25px;
}

label{

display:block;

text-align:left;

margin-top:15px;

font-weight:bold;
}

input{

width:100%;

padding:12px;

margin-top:8px;

border:2px solid #ccc;

border-radius:8px;

font-size:16px;
}

input:focus{

outline:none;

border-color:#8e24aa;
}

input[type=submit]{

margin-top:25px;

background:#8e24aa;

color:white;

border:none;

cursor:pointer;

transition:.3s;
}

input[type=submit]:hover{

background:#6a1b9a;
}

table{

width:100%;

margin-top:20px;

border-collapse:collapse;
}

th{

background:#8e24aa;

color:white;

padding:12px;
}

td{

padding:12px;

border:1px solid #ddd;
}